<h3>検索〜曲名の一部分からでも調べられるよ〜</h3>
<%= form_tag(public_musics_search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<h2>曲名一覧</h2>
<table class="table">
	<thead>
		<tr>
			<th>音楽</th>
			<th>作成日時</th>
	    </tr>
    </thead>
    <tbody>
       <% @musics.each do |music| %>
		 	<tr>
		 		<td>
		 			<%= link_to music.name, public_music_path(music) %>
		 		</td>
		 		<td>
		 			<%= music.created_at %>
		 		</td>
		 	</tr>
	  <% end %>
    </tbody>
 </table>
 <%= paginate @musics %>