<h2>マイページ</h2>
<%= link_to '新規投稿する', new_public_music_path, class: "btn-square-shadow" %>

<h3>投稿した曲</h3>
<table class="table">
	<thead>
		<tr>
			<th>曲名</th>
			<th>投稿日時</th>
	    </tr>
    </thead>
    <tbody>
       <% @musics.each do |music| %>
		 	<tr>
		 		<td>
		 			<%= link_to music.name, public_music_path(music) %>
		 		</td>
		 		<td>
		 			<%= music.created_at %>
		 		</td>
		 	</tr>
	  <% end %>
    </tbody>
 </table>
 <%= link_to '編集ページへ', edit_public_user_path(current_user.id), class: "btn-square-shadow" %><br>
 <%= link_to '会員情報を確認する', public_user_path(current_user.id), class: "btn-square-shadow" %>
