<!DOCTYPE html>
<html>
  <head>
    <title>STREETLIVE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <% if admin_signed_in? %>
              <%#= link_to "トップ", admin_items_path,class: "btn btn-primary" %> 
              <%#= link_to "会員一覧", admin_customers_path,class: "btn btn-primary" %>
              <%#= link_to "曲名一覧",admin_orders_path,class: "btn btn-primary"  %>
              <%#= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-primary" %>
           
    　　　　<% elsif user_signed_in? %>
              <%= link_to "トップ", public_root_path,class: "btn btn-primary" %>
              <%= link_to "バンド一覧", public_bands_path,class: "btn btn-primary" %>
              <%= link_to "曲名一覧",  public_musics_path(current_customer),class: "btn btn-primary" %>
              <%= link_to "マイページ", public_users_path,class: "btn btn-primary" %>
              <%= link_to "ログアウト", destroy_user_session_path,class: "btn btn-primary",method: :delete %>                  
          <% else %>
              <%= link_to "トップ", public_root_path,class: "btn btn-primary" %>
              <%= link_to "バンド一覧", public_bands_path,class: "btn btn-primary" %>
              <%= link_to "曲名一覧",  public_musics_path(current_customer),class: "btn btn-primary" %>
              <%= link_to "ログイン", new_user_session_path,class: "btn btn-primary" %>
          <% end %>
        </li>
      </ul>
    </div>
    </nav>
    <%= yield %>
  </body>
</html>
