<!DOCTYPE html>
<html>
  <head>
    <title>STREETLIVE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>STREETLIVE!!</h1>
    <div class="main clearfix">
      <nav class="navbar navbar-expand-lg navbar-right bg-light">
          <ul class="navbar-nav">
            <% if admin_signed_in? %>
                <%= link_to "トップ", admin_tops_top_path,class: "btn btn-primary" %> 
                <%= link_to "会員一覧", admin_users_path,class: "btn btn-primary" %>
                <%= link_to "曲名一覧",admin_musics_path,class: "btn btn-primary"  %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-primary" %>
             
      　　　　<% elsif user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path,class: "btn btn-primary",method: :delete %>
                <%= link_to "バンド一覧", public_bands_path,class: "btn btn-primary" %>
                <%= link_to "曲名一覧",  public_musics_path,class: "btn btn-primary" %>
                <%= link_to "マイページ", public_users_path,class: "btn btn-primary" %>
                <%= link_to "トップ", root_path,class: "btn btn-primary" %>

            <% else %>
                <%= link_to "ログイン", new_user_session_path,class: "btn btn-primary" %>
                <%= link_to "バンド一覧", public_bands_path,class: "btn btn-primary" %>
                <%= link_to "曲名一覧",  public_musics_path(current_user),class: "btn btn-primary" %>
                <%= link_to "トップ", root_path,class: "btn btn-primary" %>
            <% end %>
          </ul>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
